@media(max-width: 800px){
    main .contactWrap{
        display: flex;
        flex-direction: column;
        width: 98vw;
        text-align: center;
    }
    main .facebook{
        position: relative;
        display: flex;
        width: 49vw;
        justify-content: flex-end;
        top: -10px;
        
    }
    main .instargram{
        position: relative;
        display: flex;
        width: 49vw;
        top: -10px;
    }
}
@media(min-width: 801px){
    main .contactWrap{
        position: relative;
        width: 1024px;
        height: 380px;
    }
    
    main .facebook, .instargram{
        width: 32px;
        height: 32px;
    }
}



main .contactWrap > h1{
    font-size: 80px;
    margin: 0;
}
main .contactBox{
    display: flex;
    height: 230px;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
}

main .phone{
    height: 30px;
}
main .phone > h3, .email > h3{
    display: inline-block;
    margin-right: 10px;
}
main .socialIcon{
    position: absolute;
    top: 280px;
    display: flex;
    width: auto;
}
main .facebook > a > img, .instargram > a > img{
    width: 32px;
    height: 32px;
}