main{
    width: 100%;
    height: 100%;
}
@media(max-width:800px){
    .porjectWrap{
        display: flex;
        position: relative;
        top: -20px;
    }
    .projectBox{
        overflow: hidden;
        margin: 0 auto;
        
    }
    main .projectBox > img{
        margin: 0 auto;
        top: -90px;
        width: 80vw;
        height: 300px;
        text-align: center;
        object-fit: fill;
        overflow: hidden;
    }
    
    main .projectText{
        display: block;
        width: 80vw;
        font-size: 0.9em;
        text-align: center;
    }
    main .projectButton {
        display: block;
        width: 80vw;
        text-align: center;
    }
    main .projectButton > button{
        position: relative;
        display: inline-block;
        width: 10vw;
        height: 18px;
        font-size: 12px;
    }
    main .projectButton > button > a{
        font-size: 0.2em;
    }
    .dotWrap{
        position: absolute;
        top: -70px;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 10px;
    }
    
    
}
@media all and (min-width:801px) and (max-width:980px){
    main .projectBox > img{
        margin: 0 auto;
        width: 40vw;
        height: 50vh;
        text-align: center;
        object-fit: fill;
        overflow: hidden;
    }
    main .projectText{
        position: absolute;
        top: -15px;
        left: 45%;
        display: block;
        font-size: 0.67em;
        margin-top: 0;
    }
    main .projectButton > button{
        position: relative;
        display: inline-block;
        top: -45px;
        left: 45%;
        width: 15vw;
        height: 7vh;
    }
    main .next{
        position: absolute;
        top: 30%;
        left: 80%;
    }
    .dotWrap{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 80vw;
        height: 10px;
    }
    
}
@media(min-width:981px){
    main .projectBox > img{
        width: 380px;
        height: 380px;
        object-fit: fill;
    }
    main .porjectWrap{
        width: 1024px;
        height: 100%;
        position: relative;
        display: flex;
        margin: 0 0 50px 0;
    }
    main .projectText {
        position: absolute;
        left: 420px;
        top: -25px;
        height: 320px;
        font-size: 0.9em;
    }
    main .projectButton{
        display: inline-block;
        position: absolute;
        width: 500px;
        height: 50px;
        top: 330px;
        left: 420px;
    }
    main .projectButton > button{
        outline: none;
        cursor: pointer;
        width: 160px;
        height: 50px;
    }
    main .next{
        position: absolute;
        top: 30%;
        left: 80%;
    }
    .dotWrap{
        position: absolute;
        bottom: -30px;
        display: flex;
        justify-content: center;
        width: 80vw;
    }
}

main .projectBox{
    display: none;
}

main .projectButton > button{
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    background: #e8f1f5;
}
main .projectButton > button > a{
    display: block;
}

main .projectButton > button:hover{
    background:#005691;
    border: none;
}
main .slideBtn{
    font-size: 50px;
}
main .prev, .next{
    font-size: 30px;
    cursor: pointer;
    color: #005691;
}
main .prev{
    position: absolute;
    top: 30%;
    left: 2%;
}
main .next{
    position: absolute;
    top: 30%;
    right: 2%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }