*{
    text-decoration: none;
    list-style: none;
    color: black;
}

@font-face{
    font-family: "notoSans";
    src : local("notoSans"),
        url("/fonts/notoSans") format("noto")
}

footer{
    font-size: 14px;
    font-weight: bold;
    
}
footer .footerWrap{
    position: relative;
    background: #004a7c;
    margin-top: 30px;
    width: 100vw;
    height: 60px;
    width: auto;
    
}
footer .cText{
    line-height: 60px;
    text-align: center;
    
}
footer .cText > p{
    margin: 0 0 0 10px;
    color:white;
}