*{
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    position: relative;
    width: 100%;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    height: 60px;
    
}
footer .footerWrap{
    position: relative;
    background: #004a7c;
    margin-top: 30px;
    bottom: 0;
    width: 100vw;
    height: 60px;
    
}
footer .cText{
    line-height: 60px;
    text-align: center;
    
}
footer .cText > p{
    color:white;
}